.DS_Store
datasets
__pycache__/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.env
.venv
env/
venv/
figures
1_5/*
matrix\ 2/*
matrix\ picture/*
tweet_paper/*
test\ import/*
Testing.ipynb
data/labeled_data.p
